@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100; 0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #4b4b4b;
  line-height: 1;
  font-family: Roboto;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: linear-gradient(90deg,#f9f6f0 26%,#fff 100%)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 85.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,84rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  padding-top: 1rem
}
.header__container {
  display: flex;
  margin: 0;
  max-width: none;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.875rem;
  gap: .625rem
}
.header__logo {
  font-size: 2rem;
  position: relative;
  z-index: 10;
  font-weight: 700;
  line-height: 1.56
}
.header__logo span {
  color: #ffad4c
}
.menu__list {
  display: flex;
  padding-block: .8125rem;
  align-items: center
}
.menu__link {
  font-size: 1.25rem;
  line-height: 1.7;
  transition: color .4s ease-in
}
.menu__link:hover {
  color: #ffad4c
}
.menu__item:nth-child(2) {
  position: relative
}
.menu__item:nth-child(2)::after {
  content: "";
  position: absolute;
  transition: all .4s ease-in;
  top: 50%;
  right: -1.5625rem;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  background-image: url("../img/header/Stroke 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 1rem;
  min-height: .5625rem
}
.menu__item:nth-child(2).active.menu__item:nth-child(2)::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.submenu {
  display: none;
  position: absolute;
  z-index: 3;
  top: 2.5rem;
  background-color: #4b4b4b;
  border-radius: .5rem;
  box-shadow: 1.3125rem 1.125rem 1.25rem -1.25rem rgba(0,0,0,.71);
  padding-left: 1.5625rem;
  padding-right: 1.875rem;
  padding-block: 1.25rem
}
.submenu__item:not(:last-child) {
  margin-bottom: .875rem
}
.submenu__link {
  color: #ffad4c;
  font-size: 1.125rem;
  line-height: 1.33
}
.submenu__link:hover {
  text-decoration: underline
}
.header__actions {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem
}
.footer {
  position: relative;
  background-color: #deb37c;
  padding-top: 5.625rem;
  padding-bottom: 2.5rem
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url(../img/footer/background.webp);
  background-repeat: no-repeat
}
.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  row-gap: 1.875rem;
  border-bottom: .0625rem solid #fff
}
.top-footer__content {
  max-width: 31.25rem
}
.top-footer__title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase
}
.top-footer__text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.4
}
.top-footer__form {
  position: relative;
  width: 38rem
}
.top-footer__input {
  background-color: #fff;
  border-radius: .5rem;
  padding-block: 1.875rem;
  padding-left: 1.875rem
}
.top-footer__input:focus {
  outline: .1875rem solid #ffad4c
}
.top-footer__btn {
  border-radius: .5rem;
  background-color: #ffad4c;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.41;
  padding-block: 1.25rem;
  padding-inline: 1.875rem
}
.bottom-footer {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  row-gap: 1.875rem
}
.bottom-footer__name {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase
}
.bottom-footer__name:not(:last-child) {
  margin-bottom: .375rem
}
.bottom-footer__copy-rights {
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.38
}
.list-bottom-footer {
  display: flex;
  align-items: center
}
.list-bottom-footer__link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4
}
.list-bottom-footer__link:hover {
  text-decoration: underline
}
.hero {
  margin-bottom: 3.125rem
}
.hero__container {
  display: flex
}
.hero__body {
  flex-basis: 33%;
  flex-grow: 1;
  align-self: center;
  position: relative;
  z-index: 1;
  background-color: rgba(247,247,247,.77);
  padding-block: 2rem;
  padding-inline: 3rem;
  border-radius: 1rem;
  margin-right: -15%
}
.hero__title {
  max-width: 34.3125rem;
  color: #ffad4c;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: .0625rem
}
.hero__title:not(:last-child) {
  margin-bottom: .375em
}
.hero__text {
  max-width: 32.5625rem;
  line-height: 1.41
}
.hero__text:not(:last-child) {
  margin-bottom: 1.3333333333em
}
.hero__btn {
  padding-block: .75rem;
  padding-inline: 1.4375rem;
  background-color: #ffad4c;
  border-radius: .5rem;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.7;
  transition: all .4s ease-out
}
.hero__btn:hover {
  background-color: #4b4b4b;
  color: #ffad4c
}
.hero__slider {
  flex: 0 1 66%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden
}
.hero__slider::before {
  content: "";
  position: absolute;
  width: 55.625rem;
  min-height: 56.25rem;
  background-color: #ffecd6;
  border-radius: .5rem;
  top: 7%;
  left: -6%
}
.hero__wrapper {
  left: 5%;
  padding-bottom: 3.125rem
}
.swiper__navigation {
  position: absolute;
  z-index: 1;
  bottom: 4%;
  left: 2.69%;
  display: flex;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.hero__slide img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.swiper-btn {
  background-color: rgba(247,247,247,.77);
  border-radius: .5rem;
  text-align: center;
  padding: 1.25rem
}
.swiper-button-prev img {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.indicator-swiper {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.3125rem;
  -moz-column-gap: 1.3125rem;
  column-gap: 1.3125rem;
  bottom: 12.8%;
  right: 8%
}
.indicator-swiper__number.current {
  color: #fff
}
.indicator-swiper__number {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.41;
  color: rgba(255,255,255,.6)
}
.indicator-swiper__line {
  display: flex;
  width: 7rem;
  background-color: rgba(255,255,255,.6);
  height: .125rem
}
.half,
.second-half {
  display: block;
  height: 100%
}
.half.current-line,
.second-half.current-line {
  background-color: #fff
}
.partners {
  padding: 3rem
}
.partners__container {
  max-width: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center
}
.partners__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75
}
.partners__items {
  display: flex;
  align-items: center;
  row-gap: 1.25rem
}
.interiors__container {
  max-width: 77.5rem;
  margin: 0;
  display: flex
}
.swiper__title {
  max-width: 26.8125rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1em
}
.interiors__slider {
  flex: 0 1 52%;
  width: 100%;
  height: 100%;
  position: relative
}
.interiors__slider::before {
  content: "";
  position: absolute;
  width: 38.3125rem;
  min-height: 33.5rem;
  background-color: #ffecd6;
  border-radius: .5rem;
  top: 25%;
  left: 6%
}
.interiors__wrapper {
  position: absolute;
  left: -3%;
  padding-bottom: 1.5rem
}
.interiors__slide {
  max-width: 39.0625em;
  max-height: 33.25em
}
.interiors__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.swiper__navigation--right {
  position: absolute;
  z-index: 1;
  bottom: 4%;
  right: 2.69%;
  display: flex;
  align-items: center;
  justify-content: end;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.interiors__offers {
  align-self: center;
  flex: 0 1 48%;
  display: grid;
  row-gap: 2.5rem
}
.offer-interiors {
  display: flex;
  gap: 1.5rem;
  align-items: start
}
.offer-interiors__img {
  flex: 0 1 37%;
  max-width: 100%
}
.offer-interiors__img img {
  -o-object-fit: cover;
  object-fit: cover
}
.offer-interiors__body {
  flex: 0 1 63%
}
.offer-interiors__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.41;
  margin-bottom: .5rem
}
.offer-interiors__text {
  max-width: 19.8125rem
}
.offer-interiors__text p {
  line-height: 1.37
}
.offer-interiors__ling {
  display: flex;
  align-items: center;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.41;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem
}
.offer-interiors__ling img {
  width: 1.25rem;
  height: 1.25rem
}
.interiors {
  position: relative
}
.interiors::before {
  content: "";
  position: absolute;
  width: 38.25rem;
  height: 38.25rem;
  border-radius: 50%;
  top: -30%;
  left: -10%;
  background-color: #ffad4c;
  opacity: .2;
  -webkit-filter: blur(13.6875rem);
  filter: blur(13.6875rem)
}
.interiors::after {
  content: "";
  position: absolute;
  width: 38.5rem;
  height: 38.5rem;
  border-radius: 50%;
  bottom: -10%;
  right: -10%;
  background-color: #ffad4c;
  opacity: .2;
  -webkit-filter: blur(15.625rem);
  filter: blur(15.625rem)
}
.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .9375rem;
  margin-bottom: 1.5rem
}
.products__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4
}
.products__link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  line-height: 1.37
}
.products__link img {
  max-width: .625rem;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.tabs__navigation {
  display: flex;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  row-gap: .625rem;
  align-items: center;
  margin-bottom: 3rem
}
.tabs__title {
  font-size: .875rem;
  line-height: 1.42;
  opacity: .7
}
.tabs__title._tab-active {
  opacity: 1;
  font-weight: 700
}
.tabs__content {
  display: flex;
  justify-content: space-between;
  row-gap: 2rem;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.body-products {
  display: none
}
.body-products.active {
  width: 19.5rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-inline: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-radius: .5rem;
  background-color: #fdeedb;
  min-height: 25rem
}
.body-products__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: .625rem
}
.body-products__name {
  color: #333;
  font-size: .875rem;
  line-height: 1.42
}
.body-products__lable {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4
}
.body-products__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 14.5rem;
  height: 20.9375rem
}
.body-products__image img {
  display: block;
  overflow: hidden
}
.body-products__price {
  position: relative;
  max-width: 7.625rem;
  z-index: 1;
  grid-row: 3/-1;
  padding-block: .75rem;
  padding-inline: 1.5rem;
  border-radius: 2.25rem;
  background-color: rgba(255,255,255,.45);
  color: #ffad4c;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.42
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .top-footer__btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: .375rem
  }
}
@media (min-width:47.9375em) {
  .partners {
    margin-bottom: 7rem
  }
  .interiors {
    margin-bottom: 7rem
  }
}
@media (min-width:85.875em) {
  .header__container {
    padding-inline: 3.125rem
  }
  .hero__title {
    font-size: 4rem
  }
  .hero__text {
    font-size: 1.5rem
  }
  .partners__container {
    row-gap: 4rem
  }
  .offer-interiors__text {
    margin-bottom: 3.875rem
  }
}
@media (min-width:90.0625em) {
  .interiors__container {
    margin: 0 auto
  }
}
@media (min-width:90em) {
  .menu__list {
    -webkit-column-gap: 5.4375rem;
    -moz-column-gap: 5.4375rem;
    column-gap: 5.4375rem
  }
  .top-footer {
    padding-bottom: 7rem
  }
  .list-bottom-footer {
    -webkit-column-gap: 4.5rem;
    -moz-column-gap: 4.5rem;
    column-gap: 4.5rem
  }
  .partners__items {
    -webkit-column-gap: 9rem;
    -moz-column-gap: 9rem;
    column-gap: 9rem
  }
  .interiors__container {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem
  }
  .products {
    margin-bottom: 7rem
  }
}
@media (max-width:90em) {
  .interiors {
    padding-left: 3rem;
    padding-right: 8.875rem
  }
}
@media (max-width:67em) {
  .top-footer {
    flex-direction: column;
    text-align: center
  }
}
@media (max-width:48em) {
  .menu__list {
    -webkit-column-gap: 2.8125rem;
    -moz-column-gap: 2.8125rem;
    column-gap: 2.8125rem
  }
  .top-footer {
    padding-bottom: 3.75rem
  }
  .list-bottom-footer {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .partners__items {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .products {
    margin-bottom: 3.75rem
  }
}
@media (max-width:20em) {
  .header__container {
    padding-inline: .9375rem
  }
  .hero__title {
    font-size: 1.875rem
  }
  .hero__text {
    font-size: 1rem
  }
  .partners {
    margin-bottom: 3.75rem
  }
  .partners__container {
    row-gap: 2rem
  }
  .offer-interiors__text {
    margin-bottom: 1.25rem
  }
  .interiors {
    margin-bottom: 3.75rem
  }
}
@media (max-width:78.125em) {
  .interiors {
    padding-right: 3rem
  }
}
@media (max-width:75.3125em) {
  .hero__body {
    padding-inline: 1rem;
    padding-block: 1.25rem
  }
}
@media (max-width:73.125em) {
  .interiors__container {
    row-gap: 2.5rem;
    flex-direction: column;
    justify-content: center
  }
  .interiors__slide {
    max-width: 100%
  }
}
@media (max-width:67.625em) {
  .hero__container {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .hero__body {
    max-width: none;
    align-self: stretch;
    margin-right: 0;
    padding: 0;
    background-color: rgba(0,0,0,0)
  }
}
@media (max-width:65.3125em) {
  .tabs__content {
    flex-direction: column;
    align-items: center
  }
}
@media (max-width:60.5em) {
  .interiors__container {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
}
@media (max-width:51.25em) {
  .partners__items {
    flex-direction: column
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #ffe4bb;
    padding: 9.375rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__link {
    font-size: 1.75rem
  }
  .menu__item:nth-child(2).active {
    margin-bottom: 7.5rem
  }
  .top-footer__form {
    width: 100%
  }
  .swiper__title {
    font-size: 1.5rem
  }
  .hero__container {
    padding-inline: .9375rem
  }
  .hero__title {
    max-width: 34.3125rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:40.625em) {
  .bottom-footer {
    flex-direction: column
  }
}
@media (max-width:36.3125em) {
  .offer-interiors {
    flex-direction: column
  }
}
@media (max-width:29.99875em) {
  .header__logo {
    font-size: 1.5rem
  }
  .top-footer__input {
    margin-bottom: .875rem
  }
  .list-bottom-footer__link {
    font-size: .875rem
  }
  .interiors__slider::before {
    top: 50%
  }
  .body-products.active {
    width: 16.875rem
  }
  .swiper-btn {
    padding: .625rem
  }
  .indicator-swiper {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    bottom: 0;
    right: 0
  }
  .indicator-swiper__number {
    font-size: 1.25rem
  }
  .indicator-swiper__line {
    height: .25rem
  }
}
@media (min-width:20em)and (max-width:85.875em) {
  .header__container {
    padding-inline: clamp(.9375rem ,.2733633776rem + 3.320683112vw ,3.125rem)
  }
  .hero__title {
    font-size: clamp(1.875rem ,1.2298387097rem + 3.2258064516vw ,4rem)
  }
  .hero__text {
    font-size: clamp(1rem ,.8481973435rem + .7590132827vw ,1.5rem)
  }
  .partners__container {
    row-gap: clamp(2rem ,1.3927893738rem + 3.0360531309vw ,4rem)
  }
  .offer-interiors__text {
    margin-bottom: clamp(1.25rem ,.4530360531rem + 3.9848197343vw ,3.875rem)
  }
}
@media (min-width:48em)and (max-width:90em) {
  .menu__list {
    -webkit-column-gap: clamp(2.8125rem ,-.1875rem + 6.25vw ,5.4375rem);
    -moz-column-gap: clamp(2.8125rem ,-.1875rem + 6.25vw ,5.4375rem);
    column-gap: clamp(2.8125rem ,-.1875rem + 6.25vw ,5.4375rem)
  }
  .top-footer {
    padding-bottom: clamp(3.75rem ,.0357142857rem + 7.7380952381vw ,7rem)
  }
  .list-bottom-footer {
    -webkit-column-gap: clamp(1.25rem ,-2.4642857143rem + 7.7380952381vw ,4.5rem);
    -moz-column-gap: clamp(1.25rem ,-2.4642857143rem + 7.7380952381vw ,4.5rem);
    column-gap: clamp(1.25rem ,-2.4642857143rem + 7.7380952381vw ,4.5rem)
  }
  .partners__items {
    -webkit-column-gap: clamp(1.875rem ,-6.2678571429rem + 16.9642857143vw ,9rem);
    -moz-column-gap: clamp(1.875rem ,-6.2678571429rem + 16.9642857143vw ,9rem);
    column-gap: clamp(1.875rem ,-6.2678571429rem + 16.9642857143vw ,9rem)
  }
  .products {
    margin-bottom: clamp(3.75rem ,.0357142857rem + 7.7380952381vw ,7rem)
  }
}
@media (min-width:20em)and (max-width:47.9375em) {
  .partners {
    margin-bottom: clamp(3.75rem ,1.4233780761rem + 11.6331096197vw ,7rem)
  }
  .interiors {
    margin-bottom: clamp(3.75rem ,1.4233780761rem + 11.6331096197vw ,7rem)
  }
}
@media (min-width:60.5em)and (max-width:90em) {
  .interiors__container {
    -webkit-column-gap: clamp(.9375rem ,-3.2923728814rem + 6.9915254237vw ,3rem);
    -moz-column-gap: clamp(.9375rem ,-3.2923728814rem + 6.9915254237vw ,3rem);
    column-gap: clamp(.9375rem ,-3.2923728814rem + 6.9915254237vw ,3rem)
  }
}